html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:400px;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:400px;
    border-bottom: 1px solid gray;
    margin-top: 200px;
}

.logo{
    width:150px;
}
.avatar{
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.userContent{
    display: flex;
    align-items: center;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;

}
.avatar2{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
h4{
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 10px;
}
p{
    display: inline-block;
    margin-top: 6px;
}
.post{
    width:100%;
    margin-bottom: 10px;

}

.actionButtons{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgIcon{
    margin-right: 10px;
    width:20px;
    height: 20px;
}

.comment{
    margin-bottom: 40px;
}